/* @font-face {
    font-family: 'Nunito';
    src: local('Nunito'), url('Nunito-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
	  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
} */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;420;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;500&display=swap');

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Обнуление                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

* {
	padding: 0;
	margin: 0;
	border: 0;
  }
  *,
  *:before,
  *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
  }
  :focus,
  :active {
	outline: none;
  }
  a:focus,
  a:active {
	outline: none;
  }
  
  nav,
  footer,
  header,
  aside {
	display: block;
  }
  
html {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x:hidden;
}

body {
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x:hidden;
  background: #F7F7F7;
  font-family: 'Montserrat', sans-serif;
	font-size: 1.4vw;
  /*user-select: none;  Не даёт взаимодействовать с текстом */
}

  /*Меняет цвет выделения*/
::selection {
  background-color: #072239;
  color: #000000;
}
  
input,
button,
textarea {
font-family: inherit;
}

input::-ms-clear {
display: none;
}
button {
cursor: pointer;
background: none;
}
button::-moz-focus-inner {
padding: 0;
border: 0;
}
a,
a:visited {
text-decoration: none;
}
a:hover {
text-decoration: none;
}
ul li {
list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
font-size: inherit;
font-weight: 400;
}

.bigred {
font-size: 20px;
color: red;
}

  
* {
  color: #212123;
}

.back_button {
  position: absolute;
  top: 3.5vw;
  left: 2.5vw;
  transition: all 0.2s ease;
}

.back_button img {
  width: 5vw;
}

.back_button:hover {
  transform: scale(1.1);
}

.rocket {
  position: fixed;
  bottom: 1vw;
  right: 0.9vw;
  width: 3vw;
  cursor: pointer;
  transition: all 0.2s ease;
} 

.rocket:hover {
transform: scale(1.05);

}

.meme {
  position: absolute;
  top: 30vw;
  left: 39vw;
}

.meme img {
  width: 20vw;
}

.container_header_grid {
  width: 90%;
  margin: 2.5vw auto;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-gap: 2.5vw;
}
 
.gallery__img {
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  object-fit: none;
  display: flex; 
  transform: translate(0vw, 0vw);
  opacity: 0.8;
  transition: all 3s cubic-bezier(0.16, 1, 0.3, 1);
}

.gallery__img._active-IMG{
  object-fit: cover;
  width: 100%;
  height: 100%;
  transform: translate(0vw, 0vw);
  opacity: 1;
}

.head {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 500;
  font-size: 4.7vw;
  line-height: 100%;

  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  
  align-items: center;
  display: flex;
  justify-content: center;
}

.design {
  grid-column-start: 1;
  grid-column-end: 6;
  grid-row-start: 1;
  grid-row-end: 4;
  
  align-items: flex-start;
  display: flex;
  justify-content: center;
}

.design img {
  width: 10vw;
}

.gallery__item--1 {
  grid-column-start: 6;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 4;
}

.gallery__item--2 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 4;
  grid-row-end: 6;
}
 
.gallery__item--3 {
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 4;
  grid-row-end: 7;
}
 
.gallery__item--4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 6;
  grid-row-end: 10;
}
 
.gallery__item--5 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row-start: 7;
  grid-row-end: 10;
}

.gallery__item--1 img {
  border-radius: 4vw 4vw 0 0;
}
.gallery__item--2 img {
  border-radius: 4vw 0 0 0;
}
.gallery__item--3 img {
  border-radius: 0 0 4vw 0;
}
.gallery__item--4 img {
  border-radius: 0 0 0 4vw;
}
.gallery__item--5 img {
  border-radius: 0 0 4vw 0;
}

.text_card {
  position: relative;

  grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 7;
  grid-row-end: 10;
}

.name_company {
  position: absolute;
  left: 3vw;
  top: 16vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 2.9vw;
  line-height: 100%;
}

.name_desc {
  position: absolute;
  left: 3vw;
  top: 19vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8vw;
}

.company_decor {
  position: absolute;
  left: 1.5vw;
  top: 14.8vw;
  width: 24vw;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Статистика                                       */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

.statistic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2vw;
}

.statistic_big_number {
font-family: 'Montserrat';
font-weight: 300;
font-size: 4vw;

align-items: center;

}

.statistic_big_number_descriprion {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.8vw;
  align-items: center;
}

.line {
  border: 0.02vw solid #072239;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 2vw;
}

.paragraph {
  width: 60%;
  margin: 0 auto;
  margin-bottom: 2vw;
}

.paragraph_description::first-letter {
  color: #072239;
  font-size: 1.7vw;
}

.paragraph_header {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  font-size: 3.5vw;
  
  margin-bottom: 0.8vw;
}

.paragraph_description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 420;
  font-size: 1.3vw;
  line-height: 180%;
  margin-bottom: 1vw;
  transform: translate(3vw, 0vw);
  opacity: 0.2;
  transition: all 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}

.paragraph_description._active{
  transform: translate(0vw, 0vw);
  opacity: 1;
}

.frame_104 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.frame_104 img{
  width: 90%;
  margin: 2vw;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Футер                                            */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

.logo {
  font-weight: 600;
  font-size: 2vw;

  color: #212123;
  cursor: pointer;
}


.logos_mobile {
  display: flex;
  gap: 3.5vw;
}

.vk_logo {
  width: 2.2vw;
}

.ok_logo {
  width: 2.2vw;
}

.logos_footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo_social {
  cursor: pointer;
}

.logo_footer_vk {
  display: flex;
  align-items: center;
  position: relative;
}

.logo_footer_vk:hover .vk_stroke {
  opacity: 1;
  transition: all 0.5s ease;
}

.logo_footer_ok {
  display: flex;
  align-items: center;
  position: relative;
}

.logo_footer_ok:hover .ok_stroke {
  opacity: 1;
  transition: all 0.5s ease;
}


.vk_stroke {
  position: absolute;
  width: 3.4vw;
  top: -35%;
  left: -7%;
  opacity: 0;
  pointer-events: none;
}

.ok_stroke {
  position: absolute;
  width: 3vw;
  top: -10%;
  left: -7%;
  opacity: 0;
  pointer-events: none;
}

.authors {
  line-height: 160%;
  position: relative;
}

.advertising {
  position: absolute;
  width: 17vw;
  top: -57%;
  left: -9%;
  opacity: 0;
  pointer-events: none;
}

.authors span {
  line-height: 160%;
}


.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
  font-size: 1vw;
  margin-top: 1vw;
  margin-bottom: 3vw;
  font-weight: 500;
}

.authors:hover .advertising {
  opacity: 1;
  transition: all 0.5s ease;
}

footer {
  display: flex;
  justify-content: center;
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Скроллбар                                        */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/


::-webkit-scrollbar {
  width: 0.5vw; /* Ширина скроллбара */
  background-color: transparent; 
  transition: all 0.3s ease;
}


::-webkit-scrollbar-thumb {
  background-color: #072239; /* Цвет полосы прокрутки при наведении */
}


::-webkit-scrollbar-thumb:hover {
  background-color: #072239; /* Цвет полосы прокрутки при наведении */
}

/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Анимация загрузки                                */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  z-index: 9999;
}

#loader {
  border: 0.3vw solid #F7F7F7;
  border-top: 0.3vw solid #072239;
  border-radius: 100%;
  width: 3vw;
  height: 3vw;
  animation: spin 2s linear infinite;
  position: absolute;
  left: 50%;
  top: 50%;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*::::::::::::::::::::::::::::::::::::::::::::::::::*/
/* Адаптив                                          */
/*::::::::::::::::::::::::::::::::::::::::::::::::::*/


@media screen  and (max-width: 576px) {

::-webkit-scrollbar {
  display: none;
}

.rocket {
  display: none;
  } 

.back_button {
  position: absolute;
  top: 4.5vw;
  left: 4.5vw;
}

.back_button img {
  width: 8vw;
}

.design {
  grid-column-start: 2;
}

.design img {
  width: 12vw;
}

.head {
  font-size: 5vw;
}

.meme {
  top: 32vw;
  left: 36vw;
}

.meme img {
  width: 23vw;
}

.container_header_grid {
  width: 90%;
  margin: 5vw auto;
}

.statistic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3vw;
}

.statistic_big_number {
font-family: 'Montserrat';
font-weight: 300;
font-size: 7vw;

align-items: center;
}

.statistic_big_number_descriprion {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 3.1vw;
  align-items: center;
}

.line {
  border: 0.02vw solid #072239;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 3vw;
}


.paragraph {
  width: 90%;
  margin-bottom: 3vw;
}

.paragraph_description::first-letter {
  color: #072239;
  font-size: 4vw;
}

.paragraph_header {
  font-family: 'Montserrat Alternates', sans-serif;
  font-weight: 300;
  font-size: 7vw;
  
  margin-bottom: 3vw;
}

.paragraph_description {
  font-family: 'Montserrat', sans-serif;
  font-weight: 420;
  font-size: 3.3vw;
  line-height: 160%;
  margin-bottom: 3vw;
  transform: translate(10vw, 0vw);
  opacity: 0.2;
  transition: all 1.5s cubic-bezier(0.16, 1, 0.3, 1);
}


.footer {
  width: 90%;
  align-items: flex-start;
  font-size: 2.6vw;
  flex-direction: column;

  gap: 3vw;
}

.logo {
  font-weight: 600;
  font-size: 6vw;
}


.logo_social {
  display: none;
}

.logos_footer {
  font-size: 1vw;
  gap: 4vw;
  flex-direction: row;
  margin-left: 4vw;
  margin-left: 0 auto;
}

.vk_logo {
  width: 7vw;
}

.ok_logo {
  width: 7vw;
}

.vk_stroke {
  display: none;
}

.ok_stroke {
  display: none;
}

.advertising {
  display: none;
}

}